<div id="hero">

	<div class="globecontainer" data-js-masternode-globe>
	</div>

	<!-- Navigation -->
	{% include nav-desktop.html %}

	<!-- Hero content -->
	<h1 class="content">{% t pages.participate.hero-heading %}</h1>
	<p class="content">{% t pages.participate.hero-text %}</p>

	<div class="content">
		<a href="#participate-masternode" class="btn-blue-solid">{% t pages.participate.hero-masternodes-btn %}</a>
		<a href="#participate-mining" class="btn-blue-solid">{% t pages.participate.hero-mining-btn %}</a>
		<a href="#participate-budgets" class="btn-blue-solid">{% t pages.participate.hero-funding-btn %}</a>
	</div>
  
</div>